<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Presupuesto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- AGREGAR PRESUPUESTO -->
  <ion-card class="ion-no-margin ion-padding">
    <ion-card-header>
      <ion-card-title color="success">{{storageService.localPresupuesto | currency}}</ion-card-title>
      <ion-card-subtitle >Presupuesto total</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap">
         Agrega / Actualiza presupuesto de acuerdo a como vayas obteniendolo;
         Ingresa el monto y luego haz clic en el botón aceptar.
         Haz clic en reiniciar si desear comenzar presupuesto desde 0.</ion-label>

      </ion-item>


      <ion-item >
        <ion-label position="stacked">Descripción</ion-label>
        <ion-input type="text" maxlength="20" placeholder="Ingresa detalle" [(ngModel)]="detalle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Agrega Presupuesto</ion-label>
        <ion-input type="number" placeholder="Ingresar Monto" [(ngModel)]="newPresupuesto"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-button
        slot="start"
        size="default"
         (click)="agregarPresupuesto()"
        [disabled]="newPresupuesto === 0 || newPresupuesto === null"
        >
          Aceptar
        </ion-button>
        <ion-button
        slot="end"
        size="default"
        (click)="presentAlert()"
        [disabled]="!storageService.localPresupuesto"
        color="danger">
          Reiniciar
        </ion-button>
      </ion-item>

      <!--
      TODO separar Historial -->

    </ion-card-content>
  </ion-card>

  <!-- HISTORIAL -->
  <ion-list >
    <ion-list-header>
      <ion-label>Historial</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of storageService.localHistory">
      <!-- <ion-label>{{item.value | currency }} - {{item.desc}} - {{item.date | date :'short'}} </ion-label> -->
      <ion-label> {{item.desc}}, {{item.date | date :'short'}} </ion-label>
      <ion-label slot="end">{{item.value | currency }} </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
